<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지내용</title>
<!--    <script th:src="@{/postDetail.js}"></script>-->
</head>

<body>

<div class="container">
    <div class="detail">
        <div class="detail-con">
            <div class="detail-form">
                <h1>Board detail</h1>
                <form th:action="@{/post/postDetail}" method="post">
                    <ul>
                        <li>
                            <label th:for="id">id</label>
                            <input type="text" id="id" name="id" th:value="${post.id}" readonly>
                        </li>
                        <li>
                            <label th:for="title">title</label>
                            <input type="text" id="title" name="title" th:value="${post.title}" readonly>
                        </li>
                        <li>
                            <label th:for="content">content</label>
                            <input type="text" id="content" name="content" th:value="${post.content}" readonly>
                        </li>
                        <li>
                            <label th:for="writer">writer</label>
                            <input type="text" id="writer" name="writer" th:value="${post.writer}" readonly>
                        </li>
                        <li>
                            <label for="createTime">createTime</label>
                            <label th:if="${post.createTime} == null" th:for="updateTime">
                            <input type="text" id="updateTime" name="updateTime" th:value="${post.upDateTime}" readonly>
                            </label>

                            <label th:unless="${post.createTime} == null" th:for="createTime">
                                <input type="text" id="createTime" name="createTime" th:value="${post.createTime}" readonly>
                            </label>

                        </li>
                        <li>
                            <a th:href="@{/post/postDelete/{id}(id=${post.id})}">삭제</a>
                            <a th:href="@{/post/postUpdate/{id}(id=${post.id})}">수정</a>
                            <a th:href="@{#}">목록</a>
                        </li>
                    </ul>
                </form>

            </div>
        </div>
    </div>
</div>

</body>
</html>