/* Header */

/* TOP-HEADER START */
.header{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.header .header-con{
    width: 100%;
    height: auto;
    border: 1px solid;
    box-sizing: border-box;
    flex-basis: 1050px;
}

.header .header-con .top-header{
    display: flex;
    justify-content: flex-end;
}

.header .header-con .top-header>ul{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    border: 1px solid;
    box-sizing: border-box;
}

.header .header-con .top-header>ul>li{
    font-weight: bold;
    padding: 5px 10px 5px 0px;
    position: relative;
}

.header .header-con .top-header>ul>li:nth-child(1) a{
    color: purple;
}

.header .header-con .top-header>ul>li>a{
    font-weight: bold;
    padding: 5px 5px 5px 0px;
    line-height: 16px;
}

.header .header-con .top-header>ul>li:not(:last-child)::after{
    content: '';
    display: block;
    width: 1px;
    height: 75%;
    background-color: #cccccc;
    position: absolute;
    right: 7.5px;
    top:50%;
    transform: translateY(-50%);
}

.header .header-con .top-header>ul>li:last-child::after{
    content: '▼';
    display: block;
    width: 12px;
    height: 60%;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
}
/* TOP-HEADER END */


/* MIDDLE-HEADER START */
.header .header-con .middle-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header .header-con .middle-header .left{
    flex:1;
    display: flex;
    justify-content: flex-start;
    border: 1px solid;
}

.header .header-con .middle-header .left>ul{
    width: 100%;
    display: flex;
    justify-content: space-between
}

.header .header-con .middle-header .left>ul>li{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}

.header .header-con .middle-header .left>ul>li:nth-child(2){
    position: relative;
    padding: 5px 5px 5px 10px;
    content: ' ';
    border-color: #cccccc;
    display: block;
    height: 80%;
}



.header .header-con .middle-header .left>ul>li>a>img{
    width: 80px;
    height: 40px;
}

.header .header-con .middle-header .middle{
    flex: 2;
    display: flex;
    justify-content: center;
}

.header .header-con .middle-header .right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header .header-con .middle-header .right>ul{
    display: flex;
    justify-content: center;
}





