<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/kurlylayout}"
>


<th:block layout:fragment="title">
    <title>login</title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
</th:block>

<th:block layout:fragment="script">
<!--    <script th:src="@{/js/index.js}" defer ></script>-->
</th:block>

<th:block layout:fragment="container">
    <div class="container">
        <div class="container-con">
            <div class="login">
                <div class="login-con">
                    <form th:action="@{/}" method="post">
                        <div class="iput-id">
                            <span>아이디 : </span>
                            <input type="text" name="id" id="id">
                        </div>  
                        <div class="input-pw">
                            <span>비밀번호 : </span>
                            <input type="password" name="password" id="password">
                        </div>
                        <input type="submit" value="로그인 실행">
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>