@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);

.container{
    width: 100%;
    height: auto;
}

.container-con{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 30px;
    /* border: 1px solid; */
}

.container-con .update{
    flex-basis: 500px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /* border: 1px solid; */
}

.container-con .update .update-con{
    box-sizing: border-box;
    width: 100%;
}

.container-con .update .update-con .update-header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 10px;
}

.container-con .update .update-con .update-header2{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    gap: 2px;
    border-bottom: 2px solid rgb(51, 51, 51);
}

.container-con .update .update-con .update-header2 span:nth-child(1){
    color: red;
    font-size: 13px;
}

.container-con .update .update-con .update-header2 span:nth-child(2){
    color: #727272;
    font-size: 16px;
}


.container-con .update .update-con{
    width: 100%;
}

.container-con .update .update-con form >ul{
    box-sizing: border-box;
    padding: 7px 12px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(51, 51, 51);
}

.container-con .update .update-con form >ul>li{
    box-sizing: border-box;
    padding: 10px 1px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.container-con .update .update-con form >ul>li>label{
    flex: 1;
    font-weight: bold;
    padding: 10px 3px;
}

.container-con .update .update-con form>ul>li>label>span{
    color: red;
}

.container-con .update .update-con form >ul>li>input{
    flex: 3;
    padding: 10px 3px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

/* 수정 불가 값*/
.container-con .update .update-con form>ul>li>input.readonly{
    color: #cccccc;
}

.container-con .update .update-con form >ul>li>button{
    flex: 1;
    border: 1px solid purple;
    border-radius: 4px;
    background-color: white;
    text-align: center;
    color: purple;
    padding: 10px 3px;
}


.container-con .update .update-con form .go-update{
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

.container-con .update .update-con form >div{
    flex-basis: 500px;
    display: flex;
    justify-content: space-between;
}

.container-con .update .update-con form .go-update button:nth-child(1){
    width: 150px;
    height: 40px;
    border: 1px solid purple;
    border-radius: 5px;
    background-color: white;
    color: purple;
    cursor: pointer;
    font-weight: bold;
}
.container-con .update .update-con form .go-update button{
    width: 150px;
    height: 40px;
    border: 1px solid purple;
    border-radius: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.container-con .update .update-con form .go-update input{
    width: 150px;
    height: 40px;
    border: 1px solid purple;
    border-radius: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
    font-weight: bold;
}





